#container{
  display: flex;
  width: 800px;
  height: 250px;
  background-color: red;
}

img{
  display: flex;
  align-content: space-between;
  margin: 35px;
  height: 200px;
  width: 200px;
  border-radius: 50%

}
