#container{
  display: flex;
  width: 800px;
  height: 250px;
  margin-bottom: 20px;
}

img{
  /*display: flex;
  align-content: space-between;*/
  margin: 5%;
  width: 25vw;
  border-radius: 50%;
}

#teamBio{
  text-align:center;
  border: solid black 3px;
}
