#container{
  display: flex;
  width: 800px;
  height: 250px;
  margin-bottom: 20px;
}

img{
  display: flex;
  align-content: space-between;
  margin: 35px;
  height: 200px;
  width: 30vw;
  border-radius: 50%
}

#teamBio{
  border: solid black 3px;
  width: 90vw;
}
